<div class="login-page">
  <div class="form-container">
    <!-- LEFT SIDE -->
    <div class="form-left">
      <h1>Hope Fertility</h1>
      <p>Don't have an account?</p>
      <p class="description">Start your journey to parenthood with care and science.</p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-google"></i>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="form-right">
      <h2>Sign In</h2>
      <form (ngSubmit)="login()" #form="ngForm">
        <label for="username">Email</label>
        <input type="email" id="username" name="username" [(ngModel)]="username" placeholder="Enter email" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter password" required />

        <div class="terms">
          <input type="checkbox" id="agree" required />
          <label for="agree">I agree to the <a href="#">terms of service</a></label>
        </div>

        <button type="submit" class="submit-btn">Login</button>

        <div class="account-link">
          <a routerLink="/forgot-password">Forgot Password?</a> |
          <a routerLink="/register">Don't have an account?</a>
        </div>

        <div class="social-login">
          <button type="button" class="btn-google">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png" /> Sign in with Google
          </button>
          <button type="button" class="btn-facebook">
            <i class="fab fa-facebook-f"></i> Sign in with Facebook
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
