<div class="login-container">
  <!-- Left Image Section -->
  <div class="login-image">
    <img src="assets/img/doctor-login.png" alt="Doctor Login Image" />
  </div>

  <!-- Right Login Form Section -->
  <div class="login-form-box">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #form="ngForm">
      <label for="username">User Name</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />

      <button type="submit" class="btn-login">Login</button>

      <div class="options">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <a routerLink="/register">Sign Up</a>
      </div>

      <button class="btn-google">
        <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
        Sign in with Google (only Staff)
      </button>

      <button class="btn-facebook">
        <i class="bi bi-facebook"></i> Sign in with Facebook
      </button>
    </form>
  </div>
</div>
